.wrapper {
	/* height: 450px; */
	background-color: var(--color-black);
	border-bottom: 1px solid var(--color-primary);
	margin: 1rem 0;
	padding-bottom: 1rem;
	/* position: relative; */
	flex-direction: column;
	width: 100%;
}
